#location {

        max-width: 900px;
        margin: auto;

    .btnmaps {
        background: $color-main;
        padding: 10px;
        width: 100%;
        display: block;
        color: $color-secondary;
        border: 1px solid $color-main;

        &:hover {
            background: $color-secondary;
            color: $color-main;
            border: 1px solid $color-main;
        }
    }

    .maps-section {
        iframe {
            width: 96%;
            height: 500px;
        }
    }
}